.container.text-center
  .form-group
    label Filter by Title
    input.form-control(
      type = "text"
      ng-model = "state.search"
      placeholder = "e.g., grumpy"
      ng-disabled = "state.is_loading"
      ng-change = "onSearch(state.search)"
      ng-model-options="{debounce: 100}"
    )

  kc-gallery(images="images")
